@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body {
	background: #000;
	user-select: none;
	/* TODO: Custom cursor (animated). */
}
hr {
    border: 0;
    height: 1px;
	width: 25%;
	margin: auto;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}